
html {background-color: gray;}

.sidebar {
	margin-left: 7px;
	margin-right: 6px;
	border: 1px #F0F0F0;
	padding: 6px;
	background-color: #F0F0F0;
}

.bill {
	margin-left: 0%;
	margin-right: 6px;
	padding: 6px;
	width: 28%;
	float: right;
	background-color: #7D9EC0;
}

.frank {
	margin-left: 7px;
	margin-right: 0%;
	padding: 6px;
	width: 69%;
	float: left;
	background-color: #7CCD7C;
}




.row {
	margin-left: 7px;
	margin-right: 6px;
	padding: 6px;
	background-color: #FFB6C1;
}
