
html {background-color: gray;}

.sidebar {
	margin: 5px;
	border: 1px #F0F0F0;
	padding: 3px;
	background-color: #F0F0F0;
}

.bill {
	float: right;
	background-color: blue;
}

.frank {
	float: left;
}

.container {
	background-color: green;
}

.row {
	background-color: #FFB6C1;
}
